/* YourComponent.css */

.container {
  display: flex;
}

.left-column,
.right-column {
  flex: 1;
  padding: 10px;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.sub-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

label,
input {
  margin-bottom: 5px;
}
.left-column h1 {
  font-weight: 800;
  font-size: 45px;
}

.left-column p {
  font-weight: 400;
  font-size: 14px;
  color: #8e8e93;
  padding-top: 10px;
}
.boxForm {
  padding-top: 50px;
  display: flex;
  width: 500px;
}
.icn {
  flex: 1;
  padding: 10px;
  font-size: 40px;
  color: #8e8e93;
}

.cnt {
  flex: 2;
  padding: 10px;
}

.cnt h3 {
  color: #8e8e93 !important;
  font-size: 14px;
  font-weight: 600;
  margin-left: -180px;
}

.cnt p {
  font-weight: 400;
  font-size: 14px;
  color: black;
}

.boxForm1 {
  padding-top: 50px;
  display: flex;
  width: 500px;
}
.icn1 {
  flex: 1;
  padding: 10px;
  font-size: 40px;
  color: #8e8e93;
}

.cnt1 {
  flex: 2;
  padding: 10px;
}

.cnt1 h3 {
  color: #8e8e93 !important;
  font-size: 14px;
  font-weight: 600;
  margin-left: -180px;
}

.cnt1 p {
  margin-left: -115px;
  color: #ffa920;
  font-size: 30px;
  font-weight: 600;
}

.boxForm2 {
  padding-top: 50px;
  display: flex;
  width: 500px;
}
.icn2 {
  flex: 1;
  padding: 10px;
  font-size: 40px;
  color: #8e8e93;
}

.cnt2 {
  flex: 2;
  padding: 10px;
}

.cnt2 h3 {
  color: #8e8e93 !important;
  font-size: 14px;
  font-weight: 600;
  margin-left: -180px;
}

.cnt2 p {
  margin-left: -130px;
  color: #ffa920;
  /* font-size: 30px; */
  font-weight: 600;
}

/* YourFormComponent.css */

form {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#name input {
  margin-left: 80px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  padding: 11px 14px 20px 46px;
}
#yourName {
  padding-left: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

button {
  background-color: #ffa920;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.contact p {
  font-weight: 400;
  font-size: 14px;
  color: #8e8e93;
  padding-top: 10px;
}

.contact h1 {
  font-weight: 800;
  font-size: 25px;
}

.icntfr {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  margin-left: 150px;
  margin-top: -40px;
}

.place {
  padding-left: 30px;
}

.icntNe {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  margin-left: 5px;
  margin-top: -40px;
}

.icntM {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  margin-left: 70px;
  margin-top: -65px;
}

.contentrent1 {
  padding-top: 10px;
}

.contentrent1 h3 {
  padding-bottom: 20px;
}

.cntBlog:hover {
  color: #ffa920;
}

.contentrent1 p {
  font-weight: 600;
  font-size: 13px;
  color: #ffa920;
}

.blog {
  background-color: #f3f3f5;
}

.imgBlog {
  display: flex;
  margin-top: 10px;
  margin-bottom: 80px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 160px;
  height: 32px;
  background-color: #fbfbfb;
  border-radius: 6px;
  transform: translateX(-50%);
  padding: 5px 15px;
}

.title-2 {
  display: flex;
  margin-left: 16px;
}

.title-2 p {
  color: #ffa920;
}

.title-1 {
  font-weight: 600;
}
