nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
  color: #ffa920;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #ffa920;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i {
  color: #ffa920;
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #a1940a;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    position: absolute;
    z-index: 10;
  }

  #navbar .btn-head {
    padding: 10px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}

.btn-head {
  padding-top: 10px;
  justify-content: center;
  width: 200px;
  height: 60px;
  color: #fff;
  background-color: #ffa920;
  border-radius: 10px;
  display: flex;
}

.icon {
  color: #fff;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 17px;
}
.sell {
  border-left: 1px solid #fff;

  padding-top: 10px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 700;
}
