.slider-container1 {
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1300px;
  padding-top: 20px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card2 {
  flex: 0 0 calc(100% / 4);
  /* Your card styles go here */
}

/* Dots styling */
.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.dot.active {
  background-color: #ffa920;
}

.titleRent h2 {
  font-size: 45px;
  font-weight: 700;
}
.titleRent p {
  padding-top: 10px;
  color: #8e8e93 !important;
  font-weight: 400;
  font-size: 14px;
}

.col-lg-12-Rent {
  background-color: rgb(252, 237, 237);
  padding-bottom: 50px;
  padding-top: 100px;
}

.br {
  background-color: rgb(252, 237, 237);
}
